---
layout: default
permalink: android-youtube/
title: My talks on Android conferences
---

<div class="mdl-grid">
    {% for card in site.data.android-youtube-cards %}
    <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
        <div class="mdl-card mdl-shadow--4dp mdl-card__youtube">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ card.title }}</h2>
            </div>
            <div class="mdl-card__media">
                <iframe src="https://www.youtube.com/embed/{{ card.youtube-id }}"></iframe>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
