---
layout: default
title: Martin "Goddchen" Liersch
---

<div class="mdl-grid">
    {% for card in site.data.cards %}
    <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
        {% if card.url %}<a href="{{ card.url }}"
                            target="{% if card.a-target %}{{ card.a-target }}{% else %}_blank{% endif %}">{% endif %}
            <div class="mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">{{ card.title }}</h2>
                </div>
                <div class="mdl-card__media">{% include {{ card.icon }}.svg %}</div>
                <div class="mdl-card__supporting-text">{{ card.description }}</div>
            </div>
        {% if card.url %}</a>{% endif%}
    </div>
    {% endfor %}
</div>
