<!DOCTYPE html>
<html>

{%include head.html %}

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{ site.title }}</span>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">{{ content }}</div>
    </main>
</div>
</body>

</html>
